<div class="container wrapper">
    <div class="home-logo"><img src="../images/logo.png" class="logo-img"/></div>

    <div class="home-header"></div>

    <div class="banner tshirt-container">
        <img src="../images/tshirt4.png" class="tshirt-img"/>
        <div class="slogan-block">
            <div class="slogan first">ARTIST</div>
            <div class="slogan second">MERCHANDISE</div>
            <div class="slogan subline">LOOKING FOR THE LATEST, GREATEST, FOUR.5 MEN LOGO MERCHANDISE? YOU HAVE COME TO THE RIGHT PLACE, CLICK THE 'ORDER NOW' BUTTON TO GET SHOPPING.</div>
            <button class="btn buy-btn" ng-click="orderProduct()">ORDER NOW</button>
        </div>
    </div>

    <div class="home-footer"></div>


</div>